<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Тестирование сайта банка XYZ" parallel="tests" thread-count="2" data-provider-thread-count="3">
    <test name="Проверка AddCustomer" parallel="methods" thread-count="2">
        <classes>
            <class name="test.AddCustomerTest"/>
        </classes>
    </test>
    <test name="Проверка CustomersList" parallel="methods" thread-count="2">
        <classes>
            <class name="test.CustomersListTests"/>
        </classes>
    </test>

</suite>